.App {
  text-align: center;
}

body {
  background: #add8e6;
}

.charts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
}

.chart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 3px 3px #555;
  flex-direction: column;
  width: 360px;
  height: 270px;
}

.chart h2 {
  margin: 10px 0;
}

.map-container {
  height: 50vh;
  position: absolute;
  bottom: 0;
}

.chart div .ReactChart svg {
  size: 0;
  overflow: visible;
}
